<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!--<property name="LOG_HOME" value="/var/log/conversion-tool"/>-->
    <property name="LOG_ARCHIVE" value="${LOG_HOME}/Archived"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.%d{yyyy-MM-dd}.%i.log}"/>
    <!--<include resource="org/springframework/boot/logging/logback/file-appender.xml" />-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/conversion_tool.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily or reach maxFileSize -->
            <fileNamePattern>${LOG_ARCHIVE}/conversion_tool.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>


    <root level="INFO">
        <appender-ref ref="FILE-AUDIT" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>